@media (min-width: 100px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;
  }

  /* AUTH */
  .auth-page {
    background: $blue-dark;
    padding-bottom: 64px;
  }
  .nav-wrapper {
    background: $blue-dark;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

    &-link {

      &__logo {
        color: white;
      }

      &__default {
        color: white;
        margin: 0 16px;
      }

      &__blob {
        position: relative;

        &-img {
          display: none;
        }

        &-link {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          line-height: 0;
          border: 1px solid white;
          border-radius: 999px;
          height: 40px;
          width: 40px;
          position: relative;
          z-index: 10;
        }

        &-icon {
          line-height: 0;

          & svg {
            fill: white;
          }
        }


        &-label {
          display: none;
        }
      }
    }

    &__right {
      display: flex;
      align-items: center;
    }

  }
  .page-header {
    color: white;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 32px;

    &__sub-title {
      font-size: 24px;
      font-weight: 400;
      line-height: 56px;
    }

    &__title-wrapper {
      position: relative;

      img {
        position: absolute;
        top: -80px;
        left: -50px;
      }
    }

    &__title {
      font-size: 48px;
      line-height: 96px;
      position: relative;
      z-index: 10;
    }

  }
  .auth-box {
    background: white;
    border-radius: 4px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 32px 32px 32px;

    &__header {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;

      &-title {
        color: $blue-dark;
        font-weight: 700;
        font-size: 24px;
      }

      &-link {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        color: $orange;
        font-weight: 700;
        font-size: 14px;

        &-label {
          margin-right: 8px;
          line-height: 24px;
        }

        &-icon svg {
          fill: $orange;
        }
      }

    }

    &__button-wrapper {
      margin-top: 32px;
    }
  }

  /* ACCOUNT */

  .page-wrapper {
    display: flex;
    height: 100%;
  }

  .side-nav {
    flex-shrink: 0;
    background: $blue-dark;
    color: white;
    height: auto;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 50;

    &__floating-action-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $blue-dark;
      border-radius: 999px;
      width: 48px;
      height: 48px;
      margin: 16px 16px;
      position: fixed;
      right: 0;
      bottom: 0;
      z-index: 50;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

      svg {
        fill: white;
      }
    }

    &__logo {
      padding: 32px 24px 0px 24px;
      margin-bottom: 100px;
    }

    &__item {
      display: inline-flex;
      align-items: center;
      color: white;
      font-size: 14px;
      width: 100%;
      padding: 8px 24px;

      &--hover:hover {
        background: darken($blue-dark, 5);
      }

      &-icon {
        margin-right: 8px;

        & svg {
          fill: white;
        }
      }
    }
  }

  .page {
    width: 100%;

    &-top-bar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: $blue-gray;
      width: 100%;
      padding: 32px 32px;
      position: relative;


      &__left {
        display: flex;
        align-items: start;
        width: 100%;
      }

      &__right {
        width: 100%;
        margin-top: 32px;
      }

      &__go-back {
        display: none;
        margin-right: 16px;
      }

      &__title {
        font-size: 24px;
        padding: 4px 0 8px 0;
        margin: 0;
      }

      &__description {
        color: $gray-dark;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  .account-progress {
    width: 100%;

    &__labels-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
    }

    &__label-left {
      color: $blue-dark;
      font-size: 16px;
      font-weight: 700;
      padding: 0;
      margin: 0 0 8px 0;
    }

    &__label-right {
      color: $blue;
      font-size: 14px;
      line-height: 24px;
      padding: 0;
      margin: 0 0 16px 0;
    }
    &__progress-bar {
      background: white;
      border: 1px solid $blue-gray;
      border-radius: 999px;
      height: 16px;
      width: 100%;
      margin: 8px 0;
      overflow: hidden;

      &-fill {
        background: $orange;
        width: 30%;
        height: 100%;
      }
    }

    &__percentage {
      display: none;
      color: $blue-dark;
      font-size: 14px;
      font-weight: 700;
      padding: 0;
      margin: 0;
    }
  }

  .page-inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__nav {
      flex-shrink: 0;
      width: 100%;
      padding: 24px 32px 0 32px;

      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        width: 100%;

        &--active &-link {
          font-weight: 700;
        }

        &--active &-icon {
          display: inline-flex;
        }

        &-link {
          color: $blue-dark;
        }
      }
    }

    &__content {
      background: $gray;
      width: 100%;
      height: 100%;
      padding: 32px 0;

      &-wrapper {
        background: white;
        border-radius: 4px;
        max-width: 1200px;
        padding: 24px 32px;
      }

      &-section {

        &-title {
          font-size: 16px;
          font-weight: 400;
          border-bottom: 1px solid $gray;
          padding-bottom: 16px;
          margin-bottom: 48px;
        }
      }

      &-title {
        margin-bottom: 72px;
        line-height: 40px;
      }

    }

    .content__form {
      &-group {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 24px;
      }

      &-address {

        &-house-details {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr;

        }
      }
    }


  }

}

