@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .page-header {
    width: 80%;

    &__title {
      font-size: $text-7xl;
    }

    &__sub-title {
      font-size: $text-3xl;
    }

  }

  .auth-box {
    width: 50%;
  }

  .page-wrapper {
    padding-left: 14rem;
  }

  .side-nav {
    display: block !important;
    box-shadow: none;

    &__floating-action-toggle {
      display: none;
    }
    &__logo {

    }
  }

  .page {
    &-top-bar {
      flex-direction: row;

      &__left {
        width: 40%;
      }

      &__right {
        width: 60%;
        margin-top: 0;
      }
    }
  }

  .actions-bar {
    justify-content: end;
  }


}

