@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .page-header {
    width: 80%;

    &__title {
      font-size: 80px;
    }

    &__sub-title {
      font-size: 30px;
    }

  }

  .auth-box {
    width: 50%;
  }

  .page-wrapper {
    padding-left: 200px;
  }

  .side-nav {
    display: block !important;
    width: 200px;

    &__floating-action-toggle {
      display: none;
    }
    &__logo {

    }
  }

}

