@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .auth-box__header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-link-label {
      line-height: 0;
    }
  }

  .account-progress {

    &__labels-wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
    }

    &__label-left {
      margin: 0;
    }

    &__label-right {
      margin: 0;
    }
  }

}
