// Colors
$blue-dark: #0E2542;
$orange: #ED6B00;
$blue: #2B73CC;
$blue-gray: #E9EFF7;
$blue-gray-darker: #DEE6EF;
$gray: #F2F5FC;
$gray-dark: #79868F;
$white: #FFFFFF;
$black: #000000;

// Font sizes
$text-7xl: 5rem;
$text-5xl: 3rem;
$text-3xl: 1.875rem;
$text-2xl: 1.5rem;
$text-base: 1rem;
$text-sm: 0.875rem;

