

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
  min-width: 0;

  &__label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 0.5rem;
  }

  &__label {
    color: $blue-dark;
    font-weight: 700;
    font-size: $text-sm;
    text-transform: capitalize;
  }

  &__default {
    border: 1px solid $blue-gray-darker;
    border-radius: 4px;
    font-size: $text-sm;
    height: 3rem;
    max-width: 100%;
    padding-left: 1rem;
    background: $gray;

    &::placeholder {
      color: $gray-dark;
      font-size: $text-sm;
    }
  }

  &__help {
    color: $blue;
    font-size: $text-sm;
    margin: 0;
  }
}


